<simulation>
    <app type="ControlApp" />
    
    <robot type="QuickBot">
        <supervisor type="quickbot.QBSupervisor" />
        <pose x="0" y="0" theta="0" />
    </robot>
    
    <robot type="Khepera3">
        <supervisor type="khepera3.K3Supervisor" />
        <pose x="1" y="1" theta="1.5708" />
    </robot>
    
</simulation>